%h1 Listing photo_album_posts

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @photo_album_posts.each do |photo_album_post|
      %tr
        %td= link_to 'Show', photo_album_post
        %td= link_to 'Edit', edit_photo_album_post_path(photo_album_post)
        %td= link_to 'Destroy', photo_album_post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Photo album post', new_photo_album_post_path
