%div.box
  %h1.title User
  %h2.subtitle sort by day
  =line_chart User.group_by_day(:created_at).count
  %br
  %h1.title Posts
  %h2.subtitle sort by day
  =line_chart Post.group_by_day(:created_at).count