%h1 Listing text_posts

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @text_posts.each do |text_post|
      %tr
        %td= link_to 'Show', text_post
        %td= link_to 'Edit', edit_text_post_path(text_post)
        %td= link_to 'Destroy', text_post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Text post', new_text_post_path
